/*
 *CSS for bbPress-Login
 *
 */


.bbpressloginlinks {
    float: right;
    padding-right: 20px;
}

.bbpress_links {
    margin-left:20px;
    }

.bblogout {
    color: #FF0000;
    margin-left:20px;
}