/*
 *CSS for bbPress-Login
 *
 */


.bbpressloginlinks {
    float: right;
    padding-right: 20px;
}

.bbpress_links {
    display: block;
    margin-left:20px;
    color: #FF0000;
    font-size: 1.1em;
}

.bblogout {
    color: #FF0000;
    margin-left:20px;
}